<div class="boton-x cursor">
  <img width="20px" height="20px" (click)="close()" src="../../../../assets/images/recursos/cerrarmin.png" alt="">
</div>
<div>
  <div class="centrar notificacion">
    <p class="notificacion-p">Notification</p>
  </div>
  <div class="izquierda">
    <p><span class="pa-1 underline">Your order has a new status</span></p>
    <p class="pa-2 underline">New Art deco flowers</p>
    <p class="pa-3 underline">-30% off in Roses</p>
    <p class="pa-4">New Art deco flowers</p>
  </div>
</div>