.notificacion{
    font: normal normal normal 20px/20px Montserrat;
    letter-spacing: 0px;
    color: #707070;
}
.notificacion-p{
    margin-top: -20px !important;
    z-index: -2;
}
.pa-1{
    font: normal normal bold 16px/16px Roboto;
    color: #707070;
}
.pa-2{
    font: normal normal bold 16px/16px Roboto;
    color: #707070;
}
.pa-3{
    font: normal normal normal 16px/16px Roboto;
    letter-spacing: 0px;
    color: #707070;
}
.pa-4{
    font: normal normal normal 16px/16px Roboto;
    letter-spacing: 0px;
    color: #707070;
}
.underline {
	border-bottom: 1px solid #707070;
}
.izquierda{
    text-align: left !important;
}