.header-account {
    display: flex;
    align-items: center;
    outline: none;
}

.account {
    text-align: left;
    font: normal normal normal 25px/25px Montserrat;
    letter-spacing: 0px;
    color: #595959;
    text-shadow: 0px 3px 6px #00000029;
    margin-left: 5px;
}

.balance-p {
    font: normal normal normal 20px/20px Montserrat;
    letter-spacing: 0px;
    color: #707070;
}

.Cabecera {
    font: normal normal 600 25px/25px Montserrat;
    letter-spacing: 0px;
    color: #2f312f;
}

.balance-monto {
    font: normal normal 600 20px/20px Montserrat;
    letter-spacing: 0px;
    color: #707070;
}

.card-fecha {
    width: 536px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 40px;
}

.fechas {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    input {
        outline: none;
        border: 1px solid white;
        font: normal normal normal 18px/22px Roboto;
        letter-spacing: 0px;
        color: #707070;
        width: 100px;
    }
    img {
        object-fit: contain;
    }
}

.fecha-p-ac {
    text-align: left;
    font: normal normal normal 16px/16px Montserrat;
    letter-spacing: 0px;
    color: #707070;
}

input {
    text-align: left;
    font: normal normal normal 16px/16px Roboto !important;
    letter-spacing: 0px;
    color: #707070;
}

.btn-homeEnd {
    padding: 0; /* Elimina el relleno del botón */
    background: none; /* Fondo transparente */
    border: none; /* Sin borde */
  }
  
  .img-icon {
    width: 30px; /* Ancho de la imagen */
    height: 30px; /* Alto de la imagen */
    vertical-align: middle; /* Alinea verticalmente la imagen */
  }

.clean {
    text-align: center;
    text-decoration: underline;
    font: normal normal normal 16px/19px Roboto;
    letter-spacing: 0px;
    color: #595959;
}

.tabla-radio {
    border-radius: 28px;
    border: 1px solid #707070;
    border-radius: 28px;
    background: white !important;
}

table {
    border-radius: 28px;
    overflow: hidden;
}

table.table-bordered {
    border: 1px solid #707070;
}

table.table-bordered>thead>tr>th {
    border: 1px solid #707070;
}

table.table-bordered>tbody>tr>td {
    border: 1px solid #707070;
}

.borde-fecha {
    border-right: 1px solid #707070;
}

@media only screen and (max-width: 600px) {
    .fechas {
        margin: auto 25px;
        input {
            width: 130px;
        }
    }
    .borde-fecha {
        border-right: none;
    }
    .card-fecha {
        height: auto;
    }
    .table td,
    .table th {
        padding: 0.05rem !important;
    }
    .hoverTable th {
        font: normal normal 600 10px/10px Montserrat !important;
    }
    .hoverTable td {
        font: normal normal normal 10px/13px Roboto !important;
    }
}