.orders-table.mat-table {
    display: block;
    overflow-x: auto;
    .mat-row,
    .mat-header-row {
        display: flex;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        align-items: center;
        min-height: 48px;
        padding: 0 24px;
        min-width: 870px;
    }
    .mat-cell,
    .mat-header-cell {
        flex: 1;
        overflow: hidden;
        word-wrap: break-word;
    }
    .mat-header-cell {
        font-size: 14px;
    }
    .mat-cell {
        .order {
            color: inherit;
            text-decoration: none;
            font-weight: 500;
        }
        .btn-invoice {
            margin-left: 8px;
        }
        .actions {
            text-align: right;
        }
    }
}

.mat-header-row {
    background: rgb(173, 214, 91) !important;
    color: navy !important;
    font-weight: bold;
}

.mat-header-cell {
    color: navy !important;
}

.mat-row {
    background: white !important;
}

.mat-row:hover {
    background-color: rgb(187, 212, 136) !important
}

.order-status-p {
    text-align: left;
    font: normal normal normal 25px/25px Montserrat;
    letter-spacing: 0px;
    color: #595959;
    text-shadow: 0px 3px 6px #00000029;
    margin-left: 5px;
}

.underline {
    border-bottom: 1px solid #4E9602;
}

.card-order {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 39px;
    margin-bottom: 30px;
}

//card-cancelado
.card-order-cancelado {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0 8px 0px 0px #FF0000;
    border: 1px solid #707070;
    border-radius: 39px;
    margin-bottom: 30px;
}

//card-trabajando
.card-order-trabajando {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0 8px 0px 0px #FFFF00;
    border: 1px solid #707070;
    border-radius: 39px;
    margin-bottom: 30px;
}

//card-aprobado
.card-order-aprobado {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0 8px 0px 0px #4E9602;
    border: 1px solid #707070;
    border-radius: 39px;
    margin-bottom: 30px;
}

//card pendiente
.card-order-pendiente {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0 8px 0px 0px orange;
    border: 1px solid #707070;
    border-radius: 39px;
    margin-bottom: 30px;
}

.card-po {
    font: normal normal normal 18px/18px Roboto;
    letter-spacing: 0px;
    color: #707070;
    margin-top: 12px;
}

.card-titulos-cus {
    text-align: left;
    font: normal normal normal 12px/12px Montserrat;
    letter-spacing: 0px;
    color: #707070;
}

.card-data-cus {
    text-align: left;
    font: normal normal normal 14px/14px Roboto;
    letter-spacing: 0px;
    color: #707070;
}

.card-data-total {
    text-align: right;
    font: normal normal 600 14px/14px Roboto;
    letter-spacing: 0px;
    color: #707070;
}

.card-linea-v {
    border-right: 1px solid #a3a3a3;
    margin-top: 10px;
    margin-bottom: 10px;
}

.centrar-data {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.view-order {
    text-decoration: underline;
    font: normal normal normal 12px/12px Montserrat;
    letter-spacing: 0px;
    color: #4E9602;
    padding: 0px;
    margin-top: 10px;
}

.header-sumary {
    display: flex;
    align-items: center;
    outline: none;
}

.sumary {
    text-align: left;
    font: normal normal normal 25px/25px Montserrat;
    letter-spacing: 0px;
    color: #595959;
    text-shadow: 0px 3px 6px #00000029;
    margin-left: 5px;
}

.card-sumary {
    width: 600px;
    height: 400px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 60px;
    margin: 0 auto;
}

//card-cancelado
.card-sumary-cancelado {
    width: 600px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 8px 0px 0px 0px #FF0000;
    border: 1px solid #707070;
    border-radius: 39px;
    margin-bottom: 30px;
    margin: 0 auto;
}

//card-trabajando
.card-sumary-trabajando {
    width: 600px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 8px 0px 0px 0px #FFFF00;
    border: 1px solid #707070;
    border-radius: 39px;
    margin-bottom: 30px;
    margin: 0 auto;
}

//card-aprobado
.card-sumary-aprobado {
    width: 600px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 8px 0px 0px 0px #4E9602;
    border: 1px solid #707070;
    border-radius: 39px;
    margin-bottom: 30px;
    margin: 0 auto;
}

//card pendiente
.card-sumary-pendiente {
    width: 600px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 8px 0px 0px 0px orange;
    border: 1px solid #707070;
    border-radius: 39px;
    margin-bottom: 30px;
    margin: 0 auto;
}

.sumary-order {
    font: normal normal normal 18px/18px Montserrat;
    letter-spacing: 0px;
    color: #707070;
}

.sumary-cancel {
    font: normal normal normal 14px/14px Roboto;
    letter-spacing: 0px;
    color: #FF0000;
}

.card-titulos-sumary {
    text-align: left;
    font: normal normal normal 12px/12px Montserrat;
    letter-spacing: 0px;
    color: #707070;
}

.card-data-sumary {
    text-align: left;
    font: normal normal normal 12px/12px Roboto;
    letter-spacing: 0px;
    color: #707070;
}

.card-detail {
    width: 400px;
    height: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 11px;
    margin-bottom: 50px;
}

.img-card-detail {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: 100%;
    border-radius: 50%;
    background-size: 100% auto;
    object-fit: cover;
    margin-left: -60px;
    margin-top: 10px;
    z-index: 1;
    border: 1px solid #F6F6F6;
}

.img-card-detail-bunches {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: 100%;
    border-radius: 50%;
    background-size: 100% auto;
    object-fit: cover;
    margin-left: -70px;
    margin-top: 10px;
    z-index: 1;
    border: 1px solid #F6F6F6;
}

.card-centrar {
    margin: 0 auto;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.card-name-producto {
    text-align: center;
    font: normal normal normal 14px/14px Montserrat;
    letter-spacing: 0px;
    color: #707070;
    text-transform: capitalize;
}

.card-size {
    text-align: center;
    font: normal normal normal 10px/10px Roboto;
    letter-spacing: 0px;
    color: #707070;
}

.card-talla {
    text-align: center;
    font: normal normal normal 14px/14px Montserrat;
    letter-spacing: 0px;
    color: #707070;
}

.card-cantidad {
    text-align: center;
    font: normal normal normal 12px/12px Montserrat;
    letter-spacing: 0px;
    color: #707070;
}

.card-descripcion {
    text-align: left;
    font: normal normal normal 12px/12px Roboto;
    letter-spacing: 0px;
    color: #707070;
}

.card-precio {
    text-align: center;
    font: normal normal normal 15px/19px Montserrat;
    letter-spacing: 0px;
    color: #707070;
}

.card-p-bunches {
    text-align: left;
    font: normal normal normal 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #707070;
}

.box-cantidad {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 5px;
    width: 35px;
    height: 26px;
}

.col-margen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centrar-contenido {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.linea-1 {
    border-left: 1px solid #A2A2A2;
    opacity: 0.5;
    height: 100px;
    float: left;
}

.card-precio-p {
    letter-spacing: 0px;
    color: #595959;
    margin-left: 20px;
    margin-top: 10px;
    font: normal normal 600 20px/20px Montserrat;
}

// TARJETA DE PRODUCTOS BUNCHES
.card-detail-bunches {
    width: 400px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin-bottom: 50px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 11px;
}

.card-detail-precio {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    align-items: center;
    justify-content: center;
    display: flex;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
}

.card-l-bun {
    height: 90%;
    border-right: 1px solid #A2A2A2;
    float: left;
    opacity: 0.5;
}

.card-order-p,
.card-aditional-p {
    font: normal normal normal 14px/14px Montserrat;
    letter-spacing: 0px;
    color: #707070;
}

.card-aditional {
    font: normal normal normal 14px/14px Montserrat;
    letter-spacing: 0px;
    color: #05408D;
}

.card-order-total {
    text-align: center;
    font: normal normal 600 18px/18px Montserrat;
    letter-spacing: 0px;
    color: #707070;
}

.card-order-t-p {
    font: normal normal 600 18px/18px Montserrat;
    letter-spacing: 0px;
    color: #707070;
}

.changes {
    font: normal normal normal 12px/12px Roboto;
    letter-spacing: 0px;
    color: #595959;
}

.sumary-state-wor {
    color: #bebe09;
}

.sumary-state-apr {
    color: #4E9602;
}

.sumary-state-can {
    color: red;
}

.btn-homeEnd {
    padding: 0; /* Elimina el relleno del botón */
    background: none; /* Fondo transparente */
    border: none; /* Sin borde */
  }
  
  .img-icon {
    width: 30px; /* Ancho de la imagen */
    height: 30px; /* Alto de la imagen */
    vertical-align: middle; /* Alinea verticalmente la imagen */
  }

  .inv-margin {
    margin-left: 10%;
    margin-right: 10%;
}

  .invoice-search {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-top-left-radius: 44px;
    border-bottom-left-radius: 44px;
    border-top: 1px solid #707070;
    border-left: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-right: 1px solid white;
    height: 40px;
    outline: none !important;
    padding: 10px;
    font-size: 14px;
    font: normal normal normal 18px/18px Roboto;
    letter-spacing: 0px;
    color: #595959;
    width: 250px;
}

.invoice-search:focus {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-top-left-radius: 44px;
    border-bottom-left-radius: 44px;
    border-top: 1px solid #707070;
    border-left: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-right: 1px solid white;
    height: 40px;
    outline: none !important;
    padding: 10px;
    font-size: 14px;
    font: normal normal normal 18px/18px Roboto;
    letter-spacing: 0px;
    color: #595959;
}

.btn-invoice {
    height: 40px;
    border-top-right-radius: 44px;
    border-bottom-right-radius: 44px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-top: 1px solid #707070;
    border-right: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-left: 1px solid white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    outline: none !important;
    img {
        width: 70%;
        height: 70%;
        object-fit: contain;
    }
}

.btn-invoice:focus {
    height: 40px;
    border-top-right-radius: 44px;
    border-bottom-right-radius: 44px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-top: 1px solid #707070;
    border-right: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-left: 1px solid white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    outline: none !important;
    img {
        width: 70%;
        height: 70%;
        object-fit: contain;
    }
}

.fechas {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    input {
        outline: none;
        border: 1px solid white;
        font: normal normal normal 18px/22px Roboto;
        letter-spacing: 0px;
        color: #707070;
        width: 100px;
    }
    img {
        object-fit: contain;
    }
}

.borde-fecha {
    border-right: 1px solid #707070;
}

.fecha-p-ac {
    text-align: left;
    font: normal normal normal 16px/16px Montserrat;
    letter-spacing: 0px;
    color: #707070;
}

.card-fecha {
    width: 100%;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 40px;
}

@media only screen and (max-width: 600px) {
    .fechas {
        margin: auto 25px;
        input {
            width: 130px;
        }
    }
    .borde-fecha {
        border-right: none;
    }
    .card-fecha {
        height: auto;
    }
    .inv-margin {
        margin: auto 1%
    }
    .card-titulos-cus {
        float: left;
        width: 70px;
    }
    .card-linea-v {
        border-right: 0;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .card-data-cus {
        text-align: left;
        font: normal normal normal 11px/11px Roboto;
    }
    .card-data-total {
        text-align: left;
        font: normal normal 600 12px/12px Roboto;
    }
    .search-mp {
        padding: 0;
        margin-bottom: 10px;
    }
    .borde-fecha {
        border-right: none;
    }
    .invoice-search {
        width: 70%;
    }
}