<div class="boton-x">
  <button type="button" [mat-dialog-close]="true" class="btn btn-default btn-circle"><i
      class="fa fa-times"></i></button>
</div>
<div class="centrar-img">
  <img src="../../../assets/images/logo_home.png" style="width: 150px;height: 70px;">
</div>
<div class="modal-header" style="text-align: center;">
<div class="at-item" mat-dialog-content>
  <div>
    <div class="modal-body">
      <div style="text-align: center;font-weight: 900;">
        <h4 style="color: black;">ABOUT US</h4>
      </div>
      <form style="text-align: center; color: black; font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <p>
          Florex Sales is a floral industry marketplace that was created for wholesalers to connect their clients with 
          growers from around the world, allowing easy access to one of the largest flower availabilities in North 
          America.
        </p>
        <p>
          We offer the most innovative piece of software the flower industry has had to date.
        </p>
        <p>
          For this project, we got together with growers, wholesalers, event planners and retail florists, 
          and we created a tool that allows you and your clients to order exactly what’s needed, when it’s needed. 
          You and your clients can connect with over 300 growers from over 10 countries from around the world. Our 
          tool allows you and your clients to order by variety, color, and even grower. Assortments of varieties can 
          be combined in the same box, simplifying the procurement process and solving the problem of over ordering 
          and over stocking, no need to over order, you get exactly what you want, when you want it, as simple as that. 
          No order is too small, no order is too big!
        </p>
      </form>
    </div>
  </div>
</div>