<div class="container">
    <div class="centrar">
        <p class="coast-p">Trucking charges</p>
    </div>
    <div class="row" style="margin-left: 12%;margin-right: 12%;">
        <div class="col-lg-12">
            <p class="cajas">EB</p>
            <div class="form-group">
                <div class="input-group flex-nowrap justify-content-center">
                    <div class="dolar form-control"><span>$</span></div>
                    <input class="input-truck" placeholder="0.00" (keydown)="validateKey($event)" type="number" [(ngModel)]="boxesEB">
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <p class="cajas">QB</p>
            <div class="form-group">
                <div class="input-group flex-nowrap justify-content-center">
                    <div class="dolar form-control"><span>$</span></div>
                    <input class="input-truck" placeholder="0.00" (keydown)="validateKey($event)" type="number" [(ngModel)]="boxesQB">
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <p class="cajas">HB</p>
            <div class="form-group">
                <div class="input-group flex-nowrap justify-content-center">
                    <div class="dolar form-control"><span>$</span></div>
                    <input placeholder="0.00" (keydown)="validateKey($event)" type="number" [(ngModel)]="boxesHB" class="input-truck">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div style="text-align: center;">
        <button *ngIf="appService.updateSubClient == true" (click)="_cancelar()" [routerLink]="['/account/customers-form']" class="btn-cancelar cursor">
            Cancel
        </button>
        <button *ngIf="data.accion == 'CREATE'" (click)="_saveCargosAdicionales()" class="btn-save cursor">
      Save</button>
        <button *ngIf="data.accion == 'UPDATE'" (click)="_updateCargosAdicionales()" class="btn-save cursor">Save</button>

    </div>
</div>