.s-p-info {
	font: normal normal normal 18px/18px Montserrat;
	letter-spacing: 0px;
	color: #595959;
}
.shipped {
    font: normal normal normal 16px/16px Roboto;
    letter-spacing: 0px;
    color: #595959;
}
.btn-stading{
    width: 122px;
    height: 28px;
    background: #4E9602 0% 0% no-repeat padding-box;
    border: 1px solid #595959;
    border-radius: 7px;
    font: normal normal normal 16px/16px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
}